################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/**
/RoboReminderWeb/bin/**
/RoboReminderWeb/obj/**
/RoboReminderWeb/appsettings.Development.json
/RoboReminderWeb/RoboReminderWeb.csproj.user
